.lead__img {
  padding-top: 64px;
  width: 100%;
  display: block;
  margin: 0 auto;
  object-fit: contain;
}

@media screen and (max-width: 1279px) {
  .lead__img {
    padding-top: 56px;
  }
}


@media screen and (max-width: 767px) {
  .lead__img {
    padding-top: 40px;
  }
}
