@import url(./normalize.css);
@import url(./fonts.css);
@import url(../blocks/root.css);
@import url(../blocks/header.css);
@import url(../blocks/lead.css);
@import url(../blocks/intro.css);
@import url(../blocks/photo-grid.css);


.places {
  max-width: 984px;
  margin: 0 auto;
  padding: 0;
  padding-top: 92px;
}

.places__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.place {
  padding: 0;
  margin: 0;
}

.place__title{
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  padding: 0;
  margin: 0;
  max-width: 460px;
}

.place__website {
  max-width: 484px;
}

.place__url-heading {
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;
  letter-spacing: 2px;
  text-align: left;
  color: #aaa;
  padding: 0;
  margin: 0;
}

.place__link{
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0;
  margin: 0;
}

.place__image {
  max-width: 460px;
}

.place__paragraph {
  font-size: 18px;
  font-weight: normal;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  padding: 0;
  margin: 0;
  max-width: 484px;
}
