.content-title {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.08;
  text-align: center;
  color: #fff;
  max-width: 800px;
  margin: 0 auto;
  padding: 102px 0 0 0;
}


@media screen and (max-width: 1023px) {
  .content-title {
    max-width: 660px;
    font-size: 48px;
  }
}

@media screen and (max-width: 767px) {
  .content-title {
    max-width: 343px;
    font-size: 32px;
    padding-top: 64px;
  }
}

@media screen and (max-width: 374px) {
  .content-title {
    max-width: 288px;
  }
}
